body {
	background: #f8f8f8;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

table tr:nth-child(even) {
	background-color: #fefefe;
}

table th,
table td {
	padding: 6px 13px;
}

#main {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
}

#header {
	margin: 30px 0;
	font-size: 40px;
	text-align: center;
}

#list {
	width: 100%;
	table-layout: fixed;
}

#list tr td {
	text-align: center;
}

.nobody {
	background-color: #fefefe;
	padding: 6px 13px;
	text-align: center;
	color: #999;
}

.total {
	padding: 20px;
	text-align: center;
	color: #999;
}
