<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Wiki</title>
		
		<link rel="stylesheet" href="/lib/normalize.min.css" />
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="/css/features.cs" />
		
		<script src="/lib/jquery.min.js"></script>
	</head>
	<body>
		<div id="sidebar">{{sidebar}}</div>
		<div id="content-wrapper">
			<div id="mobile-bar">
				<a href="?sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
			</div>
			<div id="content">{{content}}</div>
		</div>
	</body>
</html>
