<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Wiki</title>
		
		<link rel="stylesheet" href="/lib/normalize.min.css" />
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		
		<script src="/lib/jquery.min.js"></script>
	</head>
	<body>
		<div id="sidebar">
			<div id="logo"><a href="/wiki">Main Page</a></div>
			<div id="menu">{{menu}}</div>
		</div>
		<div id="content-wrapper">
			<div id="content">{{content}}</div>
		</div>
	</body>
</html>
