body {
	background: #031634;
	font-size: 14px;
	overflow: hidden;
	cursor: default;
}

h1 {
	font-size: 20px;
	border-bottom: 1px dashed #ccc;
	color: #4c4843;
}

textarea {
	resize: none;
}

textarea,
input[type=text] {
	border: 1px solid #9b9b9b;
	padding: 2px;
}

input[type=submit] {
    outline:none;
	padding: 2px 6px;
	border: 1px solid #9b9b9b;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,dedede+100 */
	background: #f6f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #dedede 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dedede 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f6f6f6 0%,#dedede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

input[type=submit]:active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dedede+0,f6f6f6+100 */
	background: #dedede; /* Old browsers */
	background: -moz-linear-gradient(top,  #dedede 0%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #dedede 0%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #dedede 0%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

input[type=submit][disabled] {
	background: #dedede;
	color: #777;
}

textarea:focus,
input[type=text]:focus {
	border-color: #036564;
	outline: none;
}

#main {
	width: 560px;
	height: 640px;
	margin: 20px auto;
	background: #fff;
	border-radius: 4px;
	position: relative;
}

#main .inner {
	padding: 10px;
}

.title {
	background: #e9decc;
	border-bottom: 3px solid #d3c9b9;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-indent: 5px;
}

.title a {
	font-weight: bold;
	font-size: 20px;
	color: #4c4843;
	text-decoration: none;
}

.page {
	display: none;
	height: 567px;
	overflow: auto;
	margin-bottom: 10px;
}

.page.current {
	display: block;
}

/* Notifications ***********************************************************/

.notifications {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 540px;
	z-index: 999;
}

.notification {
	border-radius: 4px;
	padding: 10px;
	margin-top: 5px;
}

.notification span {
	margin-left: 10px;
}

.notification.info {
	background: #f0f0f0;
	border: 1px solid #ccc;
}

.notification.success {
	background: #e1ff8f;
	border: 1px solid #b3cb72;
}

.notification.error {
	background: #ff8f8f;
	border: 1px solid #cb7272;
}

/* Menu ********************************************************************/

#menu {
	position: absolute;
	top: 14px;
	right: 20px;
}

#menu ul,
#menu ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul {
}

#menu ul li {
	display: inline-block;
	margin-left: 5px;
}

#menu ul li span {
	display: none;
}

#menu ul li a {
	width: 32px;
	height: 32px;
	line-height: 32px;
	display: block;
	text-align: center;
	background: #efe4d1;
	border-radius: 50px;
	color: #4c4843;
	text-decoration: none;
}

#menu ul li a.current,
#menu ul li a:hover {
	background: #f9edda;
}

/* Home ********************************************************************/

#home table {
	width: 100%;
}

#home table th {
	text-align: left;
}

#home table td {
	text-align: right;
}

#home table th,
#home table td {
	border-bottom: 1px dashed #ccc;
	padding: 5px;
}

/* Members *****************************************************************/

#members table {
	width: 100%;
}

#members table td {
	border-bottom: 1px dashed #ccc;
	padding: 5px;
}

#members table td.name.rankLeader {
	background: url('/images/crown1.png') no-repeat 5px center;
	text-indent: 21px;
}

#members table td.name.rankOfficer {
	background: url('/images/crown2.png') no-repeat 5px center;
	text-indent: 21px;
}

#members table td.name.rankBronzeMedal {
	background: url('/images/medal_bronze_1.png') no-repeat 5px center;
	text-indent: 21px;
}

#members table td.name.rankMember {
	background: url('/images/user_silhouette.png') no-repeat 5px center;
	text-indent: 21px;
}

#members table td.name.rankApplied {
	background: url('/images/clock.png') no-repeat 5px center;
	text-indent: 21px;
}

#members table td.options {
	text-align: right;
}

#members table td.options a {
	color: #036564;
	text-decoration: none;
}

#members table td.options a:hover {
	color: #033649;
}

#members table td.options a span {
	display: none;
}

/* Settings ****************************************************************/

#settings textarea {
	width: 260px;
	height: 40px;
}

#settings input[type=text] {
	width: 260px;
}

#settings table.messages {
	width: 100%;
}

#settings table.messages td {
	padding-bottom: 10px;
}
